<div class="stats">
    <div class="container">
        <h1 class="stats-title">Users statistics</h1>
        <table class="stats-table">
            <thead class="stats-thead">
                <tr class="stats-tr">
                    <th class="stats-th">Id</th>
                    <th class="stats-th">Name</th>
                    <th class="stats-th">Username</th>
                    <th class="stats-th">Email</th>
                    <th class="stats-th">Website</th>
                </tr>
            </thead>
            <tbody class="stats-tbody">
                <tr *ngFor="let item of users" class="stats-tr">
                    <td class="stats-td"><a href="/home/stats/{{item.id}}">{{ item.id }}</a></td>
                    <td class="stats-td">{{ item.name }}</td>
                    <td class="stats-td">{{ item.username }}</td>
                    <td class="stats-td">{{ item.email }}</td>
                    <td class="stats-td">{{ item.website }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
