<div class="stats">
    <div class="container">
        <h1 class="stats-title">Users statistics</h1>
        <table class="stats-table">
            <thead class="stats-thead">
                <tr class="stats-tr">
                    <th class="stats-th">Id</th>
                    <th class="stats-th">First name</th>
                    <th class="stats-th">Last name</th>
                    <th class="stats-th">Email</th>
                    <th class="stats-th">Gender</th>
                    <th class="stats-th">IP address</th>
                    <th class="stats-th">Total clicks</th>
                    <th class="stats-th">Total page views</th>
                </tr>
            </thead>
            <tbody class="stats-tbody">
                <tr class="stats-tr">
                    <td class="stats-td"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
