@import '../../../variables';

.breadcrumbs {
  padding-top: 15px;
  padding-bottom: 25px;
  background-color: $white;
  .breadcrumbs-list {
    display: flex;
    list-style-type: none;
    .breadcrumbs-item {
      .breadcrumbs-link {
        text-decoration: none;
        color: $light-grey;
        &::after {
          content: '>';
          margin-left: 5px;
          margin-right: 5px;
        }
      }
      &:last-child {
        .breadcrumbs-link {
          color: $blue;
          &::after {
            display: none;
          }
        }
      }
    }
  }
}
