<div class="mainscrn">
    <div class="container">
        <div class="mainscrn-flex">
            <div class="mainscrn-left">
                <h1 class="mainscrn-title"><span>Brainstorming</span> for desired perfect Usability</h1>
                <p class="mainscrn-text">Our design projects are fresh and simple and will benefit your business greatly. Learn more about our work!</p>
                <a href="#" class="mainscrn-btn btn">Views Stats</a>
            </div>
            <div class="mainscrn-right">
                <img class="mainscrn-img" src="assets/img/mainscrn-img.png" alt="img">
            </div>
        </div>
    </div>
</div>

<div class="advantages">
    <div class="container">
        <h2 class="advantages-title">Why <span>small business owners love</span> AppCo?</h2>
        <p class="advantages-text">Our design projects are fresh and simple and will benefit your business greatly. Learn more about our work!</p>
        <div class="advantages-flex">
            <div class="advantages-item">
                <img class="advantages-img" src="assets/img/advantage-img-1.png" alt="img">
                <h4 class="advantages-subtitle">Clean Design</h4>
                <p class="advantages-subtext">Increase sales by showing true dynamics of your website.</p>
            </div>
            <div class="advantages-item">
                <img class="advantages-img" src="assets/img/advantage-img-2.png" alt="img">
                <h4 class="advantages-subtitle">Secure Data</h4>
                <p class="advantages-subtext">Build your online store’s trust using Social Proof & Urgency.</p>
            </div>
            <div class="advantages-item">
                <img class="advantages-img" src="assets/img/advantage-img-3.png" alt="img">
                <h4 class="advantages-subtitle">Retina Ready</h4>
                <p class="advantages-subtext">Realize importance of social proof in customer’s purchase decision.</p>
            </div>
        </div>
    </div>
</div>

<div class="subscribe">
    <div class="container">
        <form action="#">
            <div class="subscribe-flex">
                <input class="subscribe-input" type="text">
                <button class="subscribe-btn btn">Subscribe</button>
            </div>
        </form>
    </div>
</div>
